body {
    background-color: #233237;
}
.calculator-button {
    height: 30px;
    width: 50px;
    margin: 10px;
    background-color: #984B43;
    color: white;
    border: 1px solid #873A32;
    border-radius: 1px;
}
.calculator-button:hover {
    background-color: #CA7E76;
}
.calculator-button:focus {
    outline: 0;
}
#calculator-title {
    margin: auto;
    position: relative;
    width: 100%;
}
#calculator-form {
    margin: 10px auto;
    border: 1px solid #893A32;
    height: 20px;
    position: relative;
    width: 100%;
}
h1 {
    font-family: "Lobster", cursive;
    text-align: center;
    font-size: 20px;
    color: white;
}
p {
    background-color: #984B43;
    color: white;
}
#calculator-buttons {
    margin: auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
.calculator-row {
    display: inline-block;
    position: relative;
    width: 100%;
}
#calculator {
    background-color: #18121E;
    padding: 20px;
    border: 1px solid #122126;
    border-radius: 5px;
    margin: 50px auto;
    width: 350px;
    
}